<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= h(@page_title || "Mini Shop") %></title>
  <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
  <link rel="icon" href="/images/favicon.ico" type="image/png" />
  <meta name="keywords" content="<%= h @meta_keywords.gsub(/<\/?[^>]*>/, "") %>" />
  <meta name="description" content="<%= h @meta_description.gsub(/<\/?[^>]*>/, "") %>" />
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'backoffice' %>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.form" %>
  <%= javascript_include_tag "jquery.livequery" %>

  <!-- additional head elements -->
  <%= yield :head %>
</head>
<body>
<div id="language_header" class="container">
  <div class="span-24 last language_bar">
    <p><%= locale_link("en-US", "English") %> <%= locale_link("zh-HK", "中文") %></p>
  </div>
</div>

<div id="container" class="container showgrid rounded">
  <div id="header" class="span-24 last">
    <div id="header_title" class="span-24 last">
     <span class="prepend-1"><%= t("backoffice_title") %></span>
    </div>
  </div>

  <div id="nav_container" class="span-24 last">
    <div class="span-4">&nbsp;</div>
    <div id="nav" class="span-20 last">
      <%= render :partial => "layouts/backoffice_nav" %>
    </div>
  </div>

  <div id="main_body" class="span-24 last">
  <%= render :partial=>"layouts/#{controller.sub_layout}" %>
  <% # = render :partial=>"layouts/col_1_22_1" %>
  </div>
</div>

<div class="container">
  <div id="footer" class="span-24 last">
    <p>Copyright &copy; 2010</p>
  </div>
</div>
<!-- additional elements e.g. javascript -->
<%= javascript_include_tag 'rounded-min' %>
<%= yield :foot %>
<script type="text/javascript">
 Rounded('rounded', 15, 15);

 $(document).ready(function($) {
   $("#flash-notice").livequery(function(){
     $(this).fadeOut( 10000 );
   });
 })
</script>
</body>
</html>
